img {
    width: 250px;
}

form {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

input[type="button"] {
    margin-block: 10px;
    margin-inline: 20px;
}

.form-control {

    margin-block: 10px;
}

table {
    justify-self: center;
    width: 900px;

}

th {
    text-align: right;
}

td {
    text-align: right;
}